.App {
  text-align: center;
  background:#edfffc;
  background-size: cover;
  min-height: 100vh;
}
.navBar {
  font-size: 30px;
  font-weight: 800;
  color: white;
  background-color: #00796b;
  padding:10px;
  letter-spacing: 2px;
}
.container {
  padding: 20px;
  width: 80%;
  margin: auto;
}